
html, body {
    margin : 0;
    width : 100%;
    height : 100%;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../resources/img/motif_background.png');
}

html, body .ui-widget {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Boogaloo';
    font-style: normal;
    font-weight: 400;
    src: local('Boogaloo'), local('Boogaloo-Regular'), url("http://#{app['APP_DOMAIN']}/resources/css/Boogaloo-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url("http://#{app['APP_DOMAIN']}/resources/css/OpenSans.woff") format('woff');
}

a {
    text-decoration: none;
    font-family: Arial regular;
    color: black;
    font-size: 16pt;
}



ol li{
    list-style: none;

}
ol, ul, li {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;

}

.menu {
    text-align: center;
    margin-bottom: 0;
}

.menuItem:last-child:after{
    content: "";
}

body .ui-button {
    background-image: none !important;
    background-color: greenyellow!important;
    font-family: 'Boogaloo',regular;
    border: none!important;
    box-shadow: 2px 2px 2px 2px 2px #AAA!important;
    border-radius: 10px!important;
}
body .ui-button .ui-button-text {

}
body .ui-button .ui-button-text:after {
    content:" >";
}
body .ui-button .fileupload-buttonbar{
    background-image: none !important;
    background-color: greenyellow!important;
    border: none!important;
    box-shadow: 2px 2px 2px 2px 2px #AAA!important;
    border-radius: 10px!important;
}

.menuItem {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    line-height: 50px;

    padding: 0;
    vertical-align: top;

}
.menuItem  a{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;

}
.menuItem:after{
    content: "|";
    color: #53C6C4;

}


.active {
    color: #53C6C4;
}

a:hover {
    color: #53C6C4;
}

.ui-fileupload .ui-widget-header{
    background-image: none;
    background-color: transparent;
    border: none;

}
.ui-fileupload .ui-widget-content{
    background-image: none;
    background-color: transparent;
    border: none;
}

.head  {
    width: 100%;
    z-index: 5;
    height: 200px;
    border-bottom: 1px solid #888;
    position: relative;
    box-shadow:0 4px 6px rgba(34, 25, 25, 0.5);
}

.logo {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 351px;
    height: 157px;
    background-image: url("../resources/img/logo_greenwalk.png");
    background-repeat: no-repeat;
}

.center{
    width: 100%;
    height: 1050px;
    position: relative;
    box-shadow:0 4px 6px rgba(34, 25, 25, 0.5);
    z-index: 3;
    background-image: url('../resources/img/motif_background_green.png');
}

.counter{
    top: 30px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 906px;
    height: 873px;
    background-image: url('../resources/img/visuel_principal_HD.png');
    background-repeat: no-repeat;
}

.counterText{
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: 90px;
}

.counterText1{
    width: 200px;
    height: 100%;
}

#commentAndEvent{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 500px;
}

#contentLeft {
    width: 65%;
    display: inline-block;
    height: 100%;
}

#contentRight {
    width: 34%;
    height: 100%;
    float: right;
    display: inline-block;
}

.commentAndEventHead{
    width: 100%;
    color: #009E9D;
    font-family: 'Boogaloo',regular;
}

#socialContainer{
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow:0 4px 6px rgba(34, 25, 25, 0.5);
}

.wasteContainer {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: inline-block;
    background-color: #ffffff;
}

.wasteContainer:hover{
    box-shadow:0 4px 6px rgba(34, 25, 25, 0.5);
}


.container {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    box-shadow:0 4px 6px rgba(34, 25, 25, 0.5);
}

#nextPickup{
    width: 100%;
    height: 500px;
    float: inherit;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow:0 4px 6px rgba(34, 25, 25, 0.5);
}

.centerMargin{
    display: block !important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.container {
    width: 95%;
    height:auto;
    background-color: #FCFCFC;
    border-radius: 5px;
    border: solid 1px #EAEAEA;
    padding: 10px;
    margin-top: 15px;
}

html body .registerContent  .StaticForm li{
    border-bottom:none;
    border-top: none;
}

html body .StaticForm li.ui-orderlist-item  {
    border-bottom: 1px solid rgba(34, 25, 25, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    clear: both;
    color: #8C7E7E;
    float: left;
    margin: 0;
    padding: 5px 0;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
    width: 100%;
}

html body .StaticForm li {
    border-bottom: 1px solid rgba(34, 25, 25, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    clear: both;
    color: #8C7E7E;
    float: left;
    margin: 0;
    padding: 15px 0;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
    width: 100%;
}

.registerContent {
    width:400px;margin-left: auto;margin-right: auto; padding-top: 70px;
}

html body .registerContent  .StaticForm li{
    border-bottom:none;
    list-style: none;
    border-top: none;
}

html body .registerContent .ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    color: #848484 !important;
}

.socialcontainer {
    position: relative;
    margin-top: 30px;
    width: 450px;
    height: 32px;
    line-height: 32px;
    color: #009E9D;
    font-family: 'Boogaloo',regular;
    display: block;
}

.gwfontTitle{
    color: #009E9D;

    font-family: 'Boogaloo',regular;

}

.facebook a {
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 10px 0 0;
    background: url(../resources/img/facebook.png) no-repeat;
}

.twitter a {
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 10px 0 0;
    background: url(../resources/img/twitter.png) no-repeat;
}


.animatelogo {position:relative;
    top:20px;
    display:block;
    -webkit-transition:all .4s linear;
    -moz-transition:all .4s linear;
    -o-transition:all .4s linear;
    -ms-transition:all .4s linear;
    transition:all .4s linear;}

.animatelogo:hover {top:0;}

.avatar{
    background: transparent; /* background */

    border-radius: 50%; /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */
}
.avatar:hover {
    box-shadow:0 4px 6px rgba(34, 25, 25, 0.5);
}

.avatar img{
    display: block; /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */
    width: 100%; /* width 100% */
    border: 0; /* zero border */
    margin: 0; /* external margin is lacking */
    border-radius: 50%; /* read above */
}

.eventContent{
    width: 85%;
    height: 100%;
}

.eventTable{
    width: 100%;
}
.avatarContainer{
    width: 10%;
    vertical-align:top;
}

.eventHeader h3{
    margin: 0;
    display: inline-block;
}
.photoDisplay{
    margin-left: 10px;
}

.eventPhotos{
    width: 100%;
    overflow-x: hidden;
}

.sectionHeaderLabel{
    padding: 10px !important;
    margin-top: 20px;
    margin-bottom: 5px;
}

.label{
    font-weight: bold;
}



html, body .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    font-weight: normal !important;
}

.ui-datagrid .ui-widget-header {
    border: none;
    background: none;
    text-shadow: none;
}

.ui-datagrid .ui-widget-content {
    border: none;
    background: none;

}

.ui-datagrid .ui-datagrid-column {
    padding: 0;
}
.ui-datagrid .ui-paginato  {
    padding: 0;
}

.ui-growl .ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #ffffff;
    color:inherit;
    text-shadow:  none;

}

.inputtextarea{
    margin: 10px;
  width: 100%;
}


.searchInput{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px !important;
    width: 100%;
    margin-bottom: 10px !important;
}